{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>wemake-django-template</title>
    
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}" />
    <link rel="icon"
          type="image/png"
          sizes="16x16"
          href="{% static 'main/images/favicon-16x16.png' %}" />
    <link rel="icon"
          type="image/png"
          sizes="32x32"
          href="{% static 'main/images/favicon-32x32.png' %}" />
  </head>
  <body>
    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
   

    Do you want to work with projects like this on a daily basis?
    If you do, just know that we are hiring:
    http://wemake.services/meta/job-application
    -->
    <div class="container">
      <div class="content">
        <div class="title">Welcome to Board Geek Club</div>
        <div class="quote">"The only way to get smarter is by playing a smarter opponent." - Fundamentals of Chess, 1883</div>
      </div>
    </div>
  </body>
</html>
